<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/topnavigation'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!--Main Content-->
    <div class="content">
        <form method="post" name="AbfallForm">
            <div class="child-ressourcen">
                <label for="Ablesung">Ablesung</label>
                <select id="Ablesung" name="Ablesung">
                    <option value="monatlich">monatlich</option>
                    <option value="jaehrlich" selected>j&auml;hrlich</option>
                </select>
            </div>
            <!-- Restmull -->
            <div class="child-ressourcen">
                <div><label for="RestmuellMenge">Restm&uuml;ll</label>
                    <input id="RestmuellMenge" name="RestmuellMenge" type="text"> L</div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!-- Wertstoff -->
            <div class="child-ressourcen">
                <div><label for="WertstoffMenge">Wertstoff</label>
                    <input id="WertstoffMenge" name="WertstoffMenge" type="text"> L
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!-- Biogut -->
            <div class="child-ressourcen">
                <div><label for="BiogutMenge">Biogut</label>
                    <input id="BiogutMenge" name="BiogutMenge" type="text"> L
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!--Papier -->
            <div class="child-ressourcen">
                <div><label for="PapierMenge">Papier</label>
                    <input id="PapierMenge" name="PapierMenge" type="text"> L
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!-- Glas -->
            <div class="child-ressourcen">
                <div><label for="GlasMenge">Glas</label>
                    <input id="GlasMenge" name="GlasMenge" type="text"> L
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!-- Sondermüll -->
            <div class="child-ressourcen">
                <div><label for="SondermuellMenge">Sonderm&uuml;ll</label>
                    <input id="SondermuellMenge" name="SondermuellMenge" type="text"> L
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>

            <!-- Daten hochladen -->
            <div>
                <div><input name="AbfallSpeichern" type="submit" value="Speichern"></div>
            </div>
        </form>
        <!-- Maßnahmespeichern -->
        <div child="child-ressourcen">
            <a class="button" href="../ressourcen/neue-massnahme" rel="noopener noreferrer">Abfallsparma&szlig;nahmen
                erstellen</a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>