<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/topnavigation'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!-- Main-->
    <div class="content">
        <div>
            <h1>CO<sub>2</sub> Sch&auml;tzung</h1>
        </div>
        <form action="" name="co2schaetzungEintragen" method="post">
            <div class="child-ressourcen">
                <label for="Ablesung">Ablesung</label>
                    <select id="Ablesung" name="Ablesung">
                        <option value="monatlich">monatlich</option>
                        <option value="jaehrlich" selected>j&auml;hrlich</option>
                    </select>
            </div>
            <div class="child-ressourcen">
                <div>
                    <input type="radio" name="co2emission" id="AuswahlEmission" value="totalemission" checked>
                    <label for="AuswahlEmission">Gesamtemission</label>
                </div>
                <div><input name="totalemissionInput" id="totalemission" type="number"> t CO<sub>2</sub>
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>
            <div class="child-ressourcen">
                <div>
                    <input type="radio" name="co2emission" id="EinsparungEmission" value="emissionsaving">
                    <label for="EinsparungEmission">Einsparung gegen&uuml;ber Vorjahr</label>
                </div>
                <div>
                    <input name="emissionsavingInput" od="emissionsaving" type="number"> t CO<sub>2</sub>
                </div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat" style="display: none;">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>
            <div>
                <input name="submit" type="submit" value="Abschicken">
            </div>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>