<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!--Main Content-->
    <div class="content">
        <form method="post" name="HeizoelForm">
            <div class="child-ressourcen">
                <label for="Ablesung">Ablesung</label>
                <select id="Ablesung" name="Ablesung">
                    <option value="monatlich">monatlich</option>
                    <option value="jaehrlich">j&auml;hrlich</option>
                </select>
            </div>
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Heizoel"> Heiz&ouml;l</div>
                <div><label for="HeizoelverbrauchMenge">Heiz&ouml;lverbrauch</label>
                    <input id="HeizoelverbrauchMenge" name="HeizoelverbrauchMenge" type="text"> L</div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Holzpellets"> Holzpelletheizung</div>
                <div><label for="HolzpelletverbrauchMenge">Holzpelletverbrauch</label>
                    <input id="HolzpelletverbrauchMenge" name="HolzpelletverbrauchMenge" type="text"> kg</div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
                </div>
            </div>
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Fernwaerme"> Fernw&auml;rme</div>
                <div><label for="FernwaermeverbrauchMenge">Fernw&auml;rmeverbrauch</label>
                    <input id="FernwaermeverbrauchMenge" name="HolzpelletverbrauchMenge" type="text"> kWh</div>
                <div>
                    <label for="ZeitraumMonat">Abrechnungszeitraum</label>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumMonat" name="ZeitraumMonat">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                    <!-- DONT CHANGE THE ID -->
                    <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownmonth'); -%>
                    </select>
                </div>
            </div>

            <!-- <div class="child-ressourcen">
                <div><label for="HeizoelSparmassnahme">Sparma&szlig;nahme</label>
                    <select id="HeizoelSparmassnahme" name="HeizoelSparmassnahme">
                        -- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED --
                        <option value="HeizoelDaemmung">D&auml;mmung</option>
                        <option value="HeizoelOption2">Option 2</option>
                    </select>
                </div>
                <div><label for="HeizoelSparmassnahmeInbetriebnahme">Inbetriebnahme</label>
                    <input id="HeizoelSparmassnahmeInbetriebnahme" name="HeizoelSparmassnahmeInbetriebnahme"
                        type="date"></div>
            </div> -->

            <!-- Daten hochladen -->
            <div>
                <input name="HeizoelSpeichern" type="submit" value="Speichern">
            </div>
        </form>
        <!-- Maßnahmespeichern -->
        <div child="child-ressourcen">
            <a class="button" href="./ressourcen/neue-massnahme" rel="noopener noreferrer">Heizsparma&szlig;nahmen erstellen</a>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>