<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>

    <!--Main Content-->
<div class="content">
    <form method="post" name="StromForm">
        <div class="child-ressourcen">
            <div>
                <label for="StromAblesung">Ablesung</label>
                <select id="StromAblesung" name="StromAblesung">
                    <option value="StromMonatlich">monatlich</option>
                    <option value="StromJaehrlich">j&auml;hrlich</option>
                </select>
            </div>
            <div>
                <label for="Stromverbrauch">Stromverbrauch</label>
                <input id="Stromverbrauch" name="Stromverbrauch" type="text"> kWh
            </div>
            <div>
                <label for="StromCO2Emissionen">CO<sub>2</sub>-Emissionen</label>
                <input id="StromCO2Emissionen" name="StromCO2Emissionen" type="text"> g/kWh
            </div>
            <div>
                <label for="StromZeitraumMonat">Abrechnungszeitraum</label>
                <select id="StromZeitraumMonat" name="StromZeitraumMonat">
                    <option value="januar">Januar</option>
                    <option value="februar">Februar</option>
                    <option value="maerz">M&auml;rz</option>
                    <option value="april">April</option>
                    <option value="mai">Mai</option>
                    <option value="juni">Juni</option>
                    <option value="juli">Juli</option>
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="oktober">Oktober</option>
                    <option value="novemer">November</option>
                    <option value="december">Dezember</option>
                </select>
                <select id="StromZeitraumJahr" name="StromZeitraumJahr">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                </select>            
            </div>
        </div>
        <!-- <div class="child-ressourcen">
            <div><label for="StromSparmassnahme">Sparma&szlig;nahme</label>
                <select id="StromSparmassnahme" name="StromSparmassnahme">
                    -- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED --
                    <option value="Photovoltaik">Photovoltaik</option>
                    <option value="LED">LED</option>
                </select>
            </div>
            <div><label>Inbetriebnahme</label>
                <input id="StromSparmassnahmeInbetriebnahme" name="StromSparmassnahmeInbetriebnahme" type="date"></div>
        </div> -->

        <!-- Daten hochladen -->
        <div>
            <div><input name="StromSpeichern" type="submit" value="Speichern"></div>
        </div>
    </form>
    <!-- Maßnahmespeichern -->
    <div child="child-ressourcen">
        <a class="button" href="./ressourcen/neue-massnahme" rel="noopener noreferrer">Stromsparma&szlig;nahmen erstellen</a>
    </div>
</div>

    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>