<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!--Main Content-->
    <div class="content">
        <form method="post" name="StromForm">
            <div class="child-ressourcen">
                <div><label for="StrommixAuswahl">Strommix</label></div>
                <div>
                    <select id="StrommixAuswahl" name="StrommixAuswahl">
                        <option value="Standard">Standard</option>
                        <option value="Oekostrom">100% &Ouml;kostrom</option>
                    </select>
                <input name="StrommixVerbrauch" type="text"> kWh</div>
                <div>
                    <label for="StromHaeufigkeit">H&auml;uigkeit</label>
                    <select name="StromHaeufigkeit">
                        <option value="StromMonatlich">monatlich</option>
                        <option value="StromZweimonatlich">zweimonatlich</option>
                        <option value="StromJaehrlich">j&auml;hrlich</option>
                    </select>
                </div>
                <div><label for="StrommixAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="StrommixAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="StromJahresabrechnung">Jahresabrechnung</label></div>
                <div>
                    <label for="StromJahresabrechnungVorzeichen">Vorzeichen</label>
                    <select name="StromJahresabrechnungVorzeichen">
                        <option value="StromPlus">+</option>
                        <option value="StromMinus">-</option>
                    </select>
                    <input id="StromJahresabrechnung" name="StromJahresabrechnung" type="text"> kWh
                </div>
                <div><label for="StromJahresabrechnungAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="StromJahresabrechnungAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="StromSparmassnahme">Sparma&szlig;nahme</label>
                    <select id="StromSparmassnahme" name="StromSparmassnahme">
                        <!-- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED -->
                        <option value="Photovoltaik">Photovoltaik</option>
                        <option value="LED">LED</option>
                    </select>
                </div>
                <div><label>Inbetriebnahme</label>
                    <input id="StromSparmassnahmeInbetriebnahme" name="StromSparmassnahmeInbetriebnahme" type="date"></div>
            </div>

            <!-- Daten hochladen -->
            <div>
                <div><input name="StromSpeichern" type="submit" value="Speichern"></div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>