<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/header'); -%>
    </header>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!--Main Content-->
    <div class="content">
        <form action="" name="UmsatzHinzufuegen" method="post">
            <div class="child-ressourcen">
                <label for="Umsatz">Jahresumsatz</label>
                <input type="number" name="UmsatzInput" id="Umsatz"> &euro;
            </div>
            <div class="child-ressourcen">
                <label for="DatumUmsatz">Jahr</label>
                <select id="DatumUmsatz" name="DatumUmsatz">
                    <%- include('../partials/dropdownyear'); -%>
                </select>   
            </div>

            <!-- Daten hochladen -->
            <div>
                <input name="UmsatzSpeichern" type="submit" value="Abschicken">
            </div>
            <p id="umsatz-text">Diese Daten werden nur zur Berechnung der relativen CO<sub>2</sub> Emissionen verwendet und auf keiner
                Weise direkt ver&ouml;ffentlicht.</p>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>