<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('../partials/topnavigation'); -%>
    </header>

    <% if(message.length > 0){ %>
        <div class="alert-success">
            <%= message %>
        </div>
    
    <%}%>
    <!-- Input Navigation Menu -->
    <%- include('../partials/ressourcennav'); -%>
    <!--Main Content-->
    <div class="content">
        <form action="/umsatz" name="UmsatzHinzufuegen" method="POST">
            <div class="child-ressourcen">
                <label for="Umsatz">Jahresumsatz</label>
                <input type="number" name="UmsatzInput" id="Umsatz"> &euro;
            </div>
            <div class="child-ressourcen">
                <label for="ZeitraumJahr">Jahr</label>
                <!-- DONT CHANGE THE ID -->
                <select class="ZeitraumJahr" name="ZeitraumJahr">
                    <%- include('../partials/dropdownyear'); -%>
                    </select>
            </div>

            <!-- Daten hochladen -->
            <div>
                <input name="UmsatzSpeichern" type="submit" value="Abschicken">
            </div>
            <p id="umsatz-text">Diese Daten werden nur zur Berechnung der relativen CO<sub>2</sub> Emissionen verwendet
                und auf keiner
                Weise direkt ver&ouml;ffentlicht.</p>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <%- include('../partials/script'); -%>
</body>

</html>