<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <script type="text/javascript" src="./chartjs/Chart.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main-->
    <div class="content">
        <h1><%= firmenname %></h1>
        <div class="row">
            <div>
                <span>
                    <div>
                        Eigene Werte
                    </div>
                    <div>
                        <canvas id="emissionCompany"></canvas>
                    </div>
                </span>
                <span>
                    <div>
                        Umsatz pro Emission
                    </div>
                    <div>
                        <canvas id="revenuePrEmissionCompany"></canvas>
                    </div>
                </span>
            </div>
            <div>
                <span>
                    <div>
                        Durchschnittliche Werte der Branche: <%= branchenname %>
                    </div>
                    <div>
                        <canvas id="emissionCompanyCompareBranch"></canvas>
                    </div>
                </span>
                <span>
                    <div>
                        Durchschnittlicher Umsatz pro Emission der Branche: <%= branchenname %>
                    </div>
                    <div>
                        <canvas id="revenuePrEmisssionCompanyCompareBranch"></canvas>
                    </div>
                </span>
            </div>
        </div>
        <p>Emissionen sind angeben in t/CO<sub>2</sub> und Umsatz in &euro;.<br>
        </p>
        <h2>Tragen Sie hier ihre aktuellen Werte ein</h2>
        <div class="row">
            <!--
            Vor dem Link ist die grafische Anzeige, von den CO2 Emissionen in diesem und letztem Jahr
            Nach dem Link ist eine Zahl/Anzeige der lezten Aktualiseriung
            -->
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/strom">Strom</a>
            </div>
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/heizung">Heizung</a>
            </div>
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/erdgas">Gas</a>
            </div>
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/wasser">Wasser</a>
            </div>
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/abfall">Abfall</a>
            </div>
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
            </div>
            <!-- Die folgenden zwei haben keinen Balken-->
            <div class="eingabeauswahlmenu">
                <a class="button" href="./ressourcen/umsatz">Umsatz eintragen</a>
            </div>
            <div>
                <a class="button" href="./ressourcen/co2schaetzung">CO<sub>2</sub> Sch&auml;tzung eintragen</a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
    <!-- Scripts for the charts-->
    <!-- If it isn't working. maybe because of refactoring. Check if it ejs things are together and not apart -->
    <!-- Emission Company -->
    <script>var data = <%- JSON.stringify(emissionenFirma) %>;</script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforcom.js"></script>
    <!-- Emission compared with branch-->
    <script>var data = <%- JSON.stringify(emissionFirmaVergleich) %>;</script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforcomcompare.js"></script>
</body>

</html>