<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <script type="text/javascript" src="./chartjs/Chart.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main -->
    <div class="content index">
        <div class="goal-tracker">
            <form action="" name="ZielBalkenErstellen" method="get">
                <img src="./pictures/nemoBalkenOhneSchrift.jpeg" alt="Zeigt wie dicht wir dem Ziel sind">
                <p>Platzhalter</p>
            </form>
        </div>
        <h1>&Uuml;bersicht der Emissionen</h1>
        <div class="row">
            <div>
                <span>
                    <div>
                        Werte des Netzwerkes
                    </div>
                    <div>
                        <canvas id="emissionAll"></canvas>
                    </div>
                </span>
                <span>
                    <div>
                        Umsatz des Netzwerkes pro Emission
                    </div>
                    <div>
                        <canvas id="emissionPrEmissionAll"></canvas>
                    </div>
                </span>
            </div>
            <div>
                <span>
                    <div>
                        Durchschnittliche Werte
                    </div>
                    <div>
                        <canvas id="emissionAllAverage"></canvas>
                    </div>
                </span>
                <span>
                    <div>
                        Durchschnittlicher Umsatz pro Emission
                    </div>
                    <div>
                        <canvas id="emissionPrEmissionAllAverage"></canvas>
                    </div>
                </span>
            </div>
        </div>
        <p>Emissionen sind angeben in t/CO<sub>2</sub> und Umsatz in &euro;.</p>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
    <!-- Ab hier kommen die messy chart scripte, und nein erstmal nicht auslagern -->
    <!-- If it isn't working. maybe because of refactoring. Check if it ejs things are together and not apart -->
    <!-- Revenue All -->
    <script>var data = <%- JSON.stringify(emissionAlle) %>;</script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforall.js"></script>
    <!-- Revenue All Average-->
    <script>var data = <%- JSON.stringify(emissionAlleDurchschnitt) %>;</script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforallaverage.js"></script>
</body>

</html>