<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <script type="text/javascript" src="./chartjs/Chart.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main -->
    <div class="content index">
        <div class="goal-tracker">
            <form action="" name="ZielBalkenErstellen" method="get">
                <img src="./pictures/nemoBalkenOhneSchrift.jpeg" alt="Zeigt wie dicht wir dem Ziel sind">
                <p>Platzhalter</p>
            </form>
        </div>
        <article>
            <h1> CO<sub>2</sub>-Ersparnis </h1>
            <canvas id="revenueAll"></canvas>
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
    <!-- Ab hier kommen die messy chart scripte, und nein erstmal nicht auslagern -->
    <!-- If it isn't working. maybe because of refactoring. Check if it ejs things are together and not apart -->
    <!-- Revenue All -->
    <script>
        var data = <%- JSON.stringify(umsatzAlle) %>;
    </script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforrevenueall.js"></script>
</body>

</html>