<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/topnavigation'); -%>
    </header>
    <!-- Main -->
    <div class="content">
        <div>
            <h1>Ma&szlig;nahmenkatalog</h1>
            <table>
                <thead>
                    <tr>
                        <th>Katagorie</th>
                        <th>Name</th>
                        <th>Beschreibung</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < massnahmen.length; i++) {%>
                    <tr>
                        <td data-th="Katagorie"><%= massnahmen[i].res_kategorie_name %></td>
                        <td data-th="Name"><%= massnahmen[i].massnahmen_name %></td>
                        <td data-th="Beschreibung"><%= massnahmen[i].massnahmen_beschreibung %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div>
                <a class="button" href="./ressourcen/neue-massnahme" rel="noopener noreferrer">Neue Ma&szlig;nahme
                    erstellen</a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
</body>

</html>