<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main -->
    <div class="content">
        <div>
            <h1>Ma&szlig;nahmenkatalog</h1>
            <table>
                <thead>
                    <tr>
                        <th>Katagorie</th>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>Unternehmen</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < massnahmen.length; i++) {%>
                        <tr>
                            <!-- TODO should be changed to ressourcen categorie later -->
                            <td><%= massnahmen[i].res_kategorie_name %></td> 
                            <td><%= massnahmen[i].massnahmen_name %></td>
                            <td><%= massnahmen[i].massnahmen_beschreibung %></td>
                            <td><%= massnahmen[i].firma_name %></td>
                            <td><%= massnahmen[i].mn_firma_massnahmen_anfangsdatum %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <!-- Hier wird die Tabelle angezeigt :
            https://stackoverflow.com/questions/46632181/how-to-create-html-table-dynamically-from-database-with-node-js-and-express
            Sie ist Filterbar nach Unternehmen
            -->    
        </div>


        <div>
            <a class="button" href="./ressourcen/neue-massnahme" rel="noopener noreferrer">Maßnahmen erstellen</a>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
</body>
</html>